*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}




    
/* ********************************css+ js pour le message************** */
.hidden{
    visibility: hidden;
}
div .message{
    
    visibility: visible;
}
.message{
    background-color: rgba(78, 12, 12, 0.664);
    font-size: 2em;
    color: white;
    width: 600px;
}
/* ***********************navbar********************** */
.navbar{
    width: 100%;
    height: 100px;
    
    background-color: rgb(66, 20, 20);
}
.navbar-centre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 35px;
}
.ul-navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
   

}
.navbar-right,
.ul-navbar li{
    list-style-type: none;
    font-size: 1.5em;
    
}
.navbar-right li a,
.ul-navbar li a{
    text-decoration: none;
    color: white;
}

.fa-solid{
    color: white;
}

/* **********************produit***************************** */

.produit{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}

.card{
    width: 600px;
    height: 400px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


#image{
    height: 80vh;
}

.card h1{
    font-size: 3em;
}

label{
    font-size: 1.5em;
    color:black;
    background: rgba(255, 255, 255, 0.485);
    
    
}


#submit{
    margin-top: 40px;
}


/* **********************article*************** */
.article{
    display: flex;
    align-items: center;
    
    justify-content:center;

}
.total-qqt{
    font-size: 1.5em;
   
}
#panier{
    color: black;
    font-size: 2em;
}

/* *********************feuille recapitulatif************************************* */

.tableau-recap{
    position: absolute;
    margin-top: -600px;
    margin-left: 200px;

    z-index: 1;
    
}
#tableau{
    width: 700px;
    height: 40vh;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    border-radius: 5%;
    
    background: rgba(255, 255, 255, 0.747);
    
    color: black;
    
}

.recap{
    position: relative;
   
}

#img{
    
    height: 80vh;
}

#lien{
    width: 100%;
    position: absolute;
}

.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
    background-color: rgb(66, 20, 20);
    width: 100%;
    height: 80px;
 
    text-align: center;

}

.lien a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;

}

#operateur{
    display: flex;
   
    gap: 10px;
}

.moin,
.plus{
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    color: aliceblue;
    border-radius: 50%;
    font-size: 1.2em;
    text-align: center;
}
