.uk-card {
    width: 600px;
    text-align: center;
   
}

.uk-heading-line{
    max-width: 600px;
}
    

.hidden{
    visibility: hidden;
}
div .message{
    
    visibility: visible;
}
.message{
    background-color: aqua;
    font-size: 2em;
}
